<a href="https://colab.research.google.com/github/duaneywadey/colab/blob/main/ElectionsData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
elections_dataset = pd.read_csv('/content/drive/MyDrive/archive (1).zip (Unzipped Files)/president_county.csv')
elections_dataset.head()

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,41681,41681,100
4,District of Columbia,Ward 2,32881,32881,100

In [ ]:
elections_dataset.sort_values('total_votes', ascending=False)

,state,county,current_votes,total_votes,percent
4336,California,Los Angeles County,4263443,4263443,100
300,Illinois,Cook County,2321399,2417649,95
4631,Arizona,Maricopa County,2069475,2068144,100
3394,Texas,Harris County,1640818,1640818,100
4356,California,San Diego County,1601722,1601722,100
...,...,...,...,...,...
870,Maine,Hancock Cty Townships,13,13,100
2332,New Hampshire,Dixville,5,5,100
912,Maine,Glenwood Plt.,1,1,100
899,Maine,Cary Plt.,0,0,100
1215,Maine,Kingsbury Plt.,0,0,100

In [ ]:
elections_dataset['percent'].value_counts()

100    4271
95      207
99       74
94       21
91       13
90        7
92        7
93        6
86        5
84        5
88        4
87        3
89        3
81        1
79        1
85        1
83        1
69        1
72        1
74        1
Name: percent, dtype: int64

In [ ]:
elections_dataset.describe()

       current_votes   total_votes      percent
count   4.633000e+03  4.633000e+03  4633.000000
mean    3.445030e+04  3.448461e+04    99.579754
std     1.244014e+05  1.249112e+05     1.807009
min     0.000000e+00  0.000000e+00    69.000000
25%     2.327000e+03  2.326000e+03   100.000000
50%     7.765000e+03  7.695000e+03   100.000000
75%     2.034600e+04  2.034600e+04   100.000000
max     4.263443e+06  4.263443e+06   100.000000

In [ ]:
elections_dataset['percent'].value_counts()

100    4271
95      207
99       74
94       21
91       13
90        7
92        7
93        6
86        5
84        5
88        4
87        3
89        3
81        1
79        1
85        1
83        1
69        1
72        1
74        1
Name: percent, dtype: int64

In [ ]:
elections_dataset['state'].unique()

array(['Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Alabama', 'Alaska',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Arizona'],
      dtype=object)

In [ ]:
elections_dataset.nlargest(10, 'total_votes')

           state              county  current_votes  total_votes  percent
4336  California  Los Angeles County        4263443      4263443      100
300     Illinois         Cook County        2321399      2417649       95
4631     Arizona     Maricopa County        2069475      2068144      100
3394       Texas       Harris County        1640818      1640818      100
4356  California    San Diego County        1601722      1601722      100
4349  California       Orange County        1521725      1521725      100
387     Illinois        Cook Suburbs        1176658      1221698       95
3972  Washington         King County        1210507      1210507      100
53       Florida   Miami-Dade County        1156816      1156816      100
4352  California    Riverside County         996156       996156      100

In [ ]:
elections_dataset.nsmallest(10, 'total_votes')

,state,county,current_votes,total_votes,percent
899,Maine,Cary Plt.,0,0,100
1215,Maine,Kingsbury Plt.,0,0,100
912,Maine,Glenwood Plt.,1,1,100
2332,New Hampshire,Dixville,5,5,100
870,Maine,Hancock Cty Townships,13,13,100
1129,Maine,Magalloway Plt.,16,16,100
1163,Maine,Drew Plt.,19,19,100
2347,New Hampshire,Wentworth's Location,18,20,100
2339,New Hampshire,Millsfield,21,22,100
933,Maine,Nashville Plt.,23,23,100

In [ ]:
housecand_dataset = pd.read_csv('/content/drive/MyDrive/archive (1).zip (Unzipped Files)/house_candidate.csv')
housecand_dataset.head()

                 district             candidate party  total_votes    won
0       Delaware at large  Lisa Blunt Rochester   DEM       281382   True
1       Delaware at large            Lee Murphy   REP       196392  False
2       Delaware at large     Catherine Purcell   IND         6682  False
3       Delaware at large          David Rogers   LIB         3814  False
4  Florida’s 1st district            Matt Gaetz   REP       283352   True

In [ ]:
housecand_dataset.sort_values('total_votes', ascending=False)

,district,candidate,party,total_votes,won
1206,United States’s 0th district,The Democratic candidate,DEM,77138263,True
1207,United States’s 0th district,The Republican candidate,REP,72550972,False
1208,United States’s 0th district,Others,OTH,2883083,False
969,Washington’s 7th district,Pramila Jayapal,DEM,387109,True
690,Oregon’s 3rd district,Earl Blumenauer,DEM,343574,True
...,...,...,...,...,...
67,Florida’s 25th district,Mario Diaz-Balart,REP,0,True
220,Kentucky’s 4th district,Write-ins,WRI,0,False
217,Kentucky’s 3rd district,Write-ins,WRI,0,False
209,Kentucky’s 1st district,Write-ins,WRI,0,False
103,Georgia’s 12th district,Write-ins,WRI,0,False

In [ ]:
housecand_dataset.nlargest(10, 'total_votes')

,district,candidate,party,total_votes,won
1206,United States’s 0th district,The Democratic candidate,DEM,77138263,True
1207,United States’s 0th district,The Republican candidate,REP,72550972,False
1208,United States’s 0th district,Others,OTH,2883083,False
969,Washington’s 7th district,Pramila Jayapal,DEM,387109,True
690,Oregon’s 3rd district,Earl Blumenauer,DEM,343574,True
704,Pennsylvania’s 3rd district,Dwight Evans,DEM,341708,True
623,North Carolina’s 12th district,Alma Adams,DEM,341457,True
415,Montana at large,Matt Rosendale,REP,339169,True
604,North Carolina’s 4th district,David Price,DEM,332421,True
1159,Colorado’s 1st district,Diana DeGette,DEM,331621,True

In [ ]:
housecand_dataset.sample(10)

                          district         candidate party  total_votes    won
259           Maine’s 1st district         Jay Allen   REP       165008  False
71         Florida’s 27th district     Donna Shalala   DEM       166758  False
43         Florida’s 17th district       Greg Steube   REP       266514   True
520        New York’s 8th district  Garfield Wallace   REP        42007  False
988   West Virginia’s 3rd district         Write-ins   WRI           13  False
459      New Jersey’s 4th district       Chris Smith   REP       254103   True
472      New Jersey’s 8th district    Jason Mushnick   REP        58686  False
1053       Arkansas’s 3rd district      Steve Womack   REP       214960   True
1113    California’s 37th district        Karen Bass   DEM       254916   True
469      New Jersey’s 7th district    Tom Malinowski   DEM       219629   True